.summary {
    @media screen and (max-width: 1100px) {
        display: none;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}

.summary-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    &__pic {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 22px;
        height: 22px;
    }

    &__info {
        &-number {
            display: block;
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            color: #cecfde;
        }

        &-category {
            display: block;
            font-size: 10px;
            line-height: 12px;
            text-transform: uppercase;
            color: #60627a;
        }
    }
}
