$base-font-size: 16px;
$content-size: 1508px;

$text-yellow: #ffbd98;
$item-bg-yellow: linear-gradient(0deg, rgba(255, 148, 22, 0.3) 0%, rgba(35, 37, 49, 0) 70.43%),
    #252635;
$item-letter-yellow: linear-gradient(198.18deg, rgba(45, 47, 63, 0.22) 10.98%, #956f37 90.92%);
$item-bg-purple: linear-gradient(0deg, rgba(121, 58, 255, 0.3) 0%, rgba(35, 37, 49, 0) 70.43%),
    #252635;
$item-bg-red: linear-gradient(0deg, rgba(252, 53, 40, 0.3) 0%, rgba(35, 37, 49, 0) 70.43%), #252635;
$item-letter-purple: linear-gradient(198.18deg, rgba(45, 47, 63, 0.22) 10.98%, #593d95 90.92%);
$item-letter-red: linear-gradient(198.18deg, rgba(45, 47, 63, 0.22) 10.98%, #993b3b 90.92%);
$item-bg-blue: linear-gradient(0deg, rgba(71, 112, 255, 0.3) 0%, rgba(35, 37, 49, 0) 70.43%),
    #252635;
$item-bg-white: linear-gradient(0deg, rgba(143, 143, 143, 0.3) 0%, rgba(35, 37, 49, 0) 70.43%),
    #252635;
$item-letter-blue: linear-gradient(198.18deg, rgba(45, 47, 63, 0.22) 10.98%, #363f8e 90.92%);
$item-letter-white: linear-gradient(198.18deg, rgba(45, 47, 63, 0.22) 10.98%, #636363 90.92%);
$text-light-green: #f1ffde;
$button-green: #5cbb98;
$item-bg-light-blue: linear-gradient(0deg, rgba(84, 202, 227, 0.3) 0%, rgba(35, 37, 49, 0) 70.43%),
    #252635;
$item-bg-rose: linear-gradient(0deg, rgba(255, 71, 170, 0.3) 0%, rgba(35, 37, 49, 0) 70.43%),
    #252635;
$item-letter-light-blue: linear-gradient(
        0deg,
        rgba(84, 202, 227, 0.3) 0%,
        rgba(35, 37, 49, 0) 70.43%
    ),
    #252635;
$item-letter-rose: linear-gradient(198.18deg, rgba(45, 47, 63, 0.22) 10.98%, #8c446f 90.92%);
$text-green: #63deb1;
