@font-face {
    font-family: "DINPro";
    src: url("../fonts/DINPro/DINPro-Regular.woff");
    font-weight: 400;
}

@font-face {
    font-family: "DINPro";
    src: url("../fonts/DINPro/DINPro-Bold.woff");
    font-weight: 700;
}

@font-face {
    font-family: "DINPro";
    src: url("../fonts/DINPro/DINPro-CondensedBold.woff");
    font-weight: 750;
}

@font-face {
    font-family: "FSElliotPro";
    src: url("../fonts/FSElliotPro/FSElliotPro-Regular.woff");
    font-weight: 400;
}

@font-face {
    font-family: "FSElliotPro";
    src: url("../fonts/FSElliotPro/FSElliotPro-Heavy.woff");
    font-weight: 900;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham/Gotham-Book.woff");
    font-weight: 350;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham/Gotham-Medium.woff");
    font-weight: 500;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham/Gotham-Bold.woff");
    font-weight: 700;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham/Gotham-Ultra.woff");
    font-weight: 800;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham/Gotham-Black.woff");
    font-weight: 900;
}
